.carousel {
  overflow: hidden;
  width: 100%;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.carousel-indicators {
  gap: 16px;
}

.carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f3ecdc;
}

.carousel-indicators .active {
  background-color: #e68314;
}
